@media(max-width:1000px){
    .header-top{
        width: 100%;



    }
    .section-title{
        padding-top: 200px;
        padding-bottom:60px ;


    }
    .contents-me{

        padding: 32px  20px 40px 20px;
    }


    .introdaction p{
        width: 100%;
        


    }

}

@media(max-width:670px){
    .header-top{
        
        width: 100%;
    }
    .header-top a{
        font-size: 12px;
        padding: 5px;
    }
    .main-title{
        background-position: 70% center ; /* 左に少し寄せる */
    }


    
    .main-title h1{
        font-size: 28px;
    }
    .section-title{
        padding-top: 100px;
        padding-bottom:30px;
        



    }
    .section-title h1{
        font-size: 35px;
        



    }
    .contents-me{
        display: block;
    }


    .contents-me img{
        float: left;
        height: 100px;
        width: 100px;
        margin-bottom: 10px;
        

    }
    .introdaction h2{
        float: right;
        margin-top: 35px;
        margin-bottom: 46px;

        font-size: 18px;

    }
    .introdaction p{
        font-size: 15px;
    }

    .my-skills .text-contents{
        width: 100%;
        margin: 0;
        padding: 0 18px;
        margin-bottom: 33px;


    }
    .my-skills-text{
        font-size: 15px;
    }
    .my-skills-contents span{
        font-size: 10px;
    }
    .works .text-contents{
        width: 100%;
        margin: 0;
        padding: 0 18px;
        margin-bottom: 33px;


    }
    .contact .contents-contact{
        width: 100%;
        margin: 0;
        padding: 0 20px;
        margin-bottom: 63px;
    }
    .contact-form{

        width: 80%;
    }
    .clear{
        clear: left;
    }

}

@media(max-width:400px){
   .header-top a{
    font-size: 10px;


   }


   .main-title h1{
    font-size: 24px;

   }
   .contents-me img{
    width: 80px;
    height: 80px;
    margin-right: 5px;
    margin-bottom: 5px;

   }
   .introdaction h2{
    margin: 27px 0;

   }
   .introdaction p{
    display: inline-block;
    padding: 5px 0;
   }
   .my-skills .section-title{
    padding-top: 20px;
   }
   .contact .section-title{
    padding-top: 20px;

   }
    .clear{
        clear:left;
    }
    



}

